.navbar {
  width: 100%;
  font-weight: 700;
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}