@import "@/styles/colors.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: map-get($map: $schema, $key: color-secondary);

}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: #999999;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.text {
  text-align: center;
  margin-top: 20px;
  color: #909090;
}

.link {
  color: #0070f3;
  text-decoration: underline;
}