* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #424e64;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} 

