.footer {
  width: 100%;
  min-height: 80px;
  background-color: #424e64;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;
  font-family: 'Times New Roman', Times, serif;
}

.left h3 {
  margin: 0;
  font-size: 18px;
}

.left p {
  margin: 4px 0 0 0;
  font-size: 14px;
}

.right p {
  margin: 0;
  font-size: 14px;
}