@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.big {
  font-size: 1rem;
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} 